# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/MergeSort/FileContentIndex/6dbb8ff9-fb79-406f-93e5-34921995f864.vsidx
.vs/MergeSort/v17/.wsuo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
MergeSort/.vs/MergeSort/FileContentIndex/ab0f0c7c-80d5-4e40-b92d-47370ebd80e5.vsidx
MergeSort/.vs/MergeSort/FileContentIndex/c1ec474a-3e9a-4258-9e84-7f36057a08da.vsidx
MergeSort/.vs/MergeSort/v17/Browse.VC.db
MergeSort/.vs/MergeSort/v17/Browse.VC.db-shm
MergeSort/.vs/MergeSort/v17/Browse.VC.db-wal
MergeSort/.vs/MergeSort/v17/Browse.VC.opendb
MergeSort/.vs/MergeSort/v17/ipch/AutoPCH/a5fd590ad94669b3/MERGESORT.ipch
*.vcxproj
*.filters
*.user
MergeSort/.vs/MergeSort/FileContentIndex/01596fd7-41b7-4d85-b1a3-55cab2f4f407.vsidx
MergeSort/.vs/MergeSort/FileContentIndex/8852a298-7541-4cc5-9cc8-809c5a05d6a6.vsidx
MergeSort/.vs/MergeSort/FileContentIndex/f32b83b8-9090-4693-9f27-ecd1d22e38dc.vsidx
MergeSort/.vs/MergeSort/v17/.suo
MergeSort/.vs/MergeSort/v17/ipch/AutoPCH/60338fab56e07491/KLASA.ipch
MergeSort/.vs/MergeSort/FileContentIndex/dad46f19-0c5c-4d51-bdd7-912e1b55ecca.vsidx
MergeSort/.vs/MergeSort/FileContentIndex/30826494-280c-4c49-8423-4f424364201e.vsidx
